@tailwind base;

@tailwind components;

:root {
  --slider-color-left: #4FD1C5;
  --slider-color-right: #C3DAFE;
}


.menu-btn {
  @apply bg-white font-bold border w-40 py-3 m-2 rounded transition duration-500;
}

.menu-btn-blue {
  @apply text-blue-500 border-blue-500 
}

.menu-btn-green {
  @apply text-green-500 border-green-500 
}

.menu-btn:hover, .menu-btn-active {
  @apply border-transparent text-white font-semibold;
}

.menu-btn-blue:hover, .menu-btn-blue-active {
  @apply bg-blue-500
}

.menu-btn-green:hover, .menu-btn-green-active {
  @apply bg-green-500
}

.form {
  @apply appearance-none border-b-2 rounded py-2 px-3 my-1 text-gray-700 transition duration-500;
}

.form:focus {
  @apply bg-white border-solid border-teal-300;
}


.slider {
  @apply w-3/5 outline-none rounded-full overflow-hidden appearance-none;
  border: 1px solid white;
}

.slider::-webkit-slider-thumb {
  @apply appearance-none h-2 w-0 overflow-hidden rounded-full;
  background-color: var(--slider-color-right);
  box-shadow: -9999px 0 0 9997px var(--slider-color-left), 
               9997px 0 0 9999px var(--slider-color-right);
}

.slider::-moz-range-progress {
  @apply border-none;
  background-color: var(--slider-color-left);
}

.slider::-moz-range-track {  
  @apply border-none;
  background-color: var(--slider-color-right);
}

.slider::-moz-range-thumb {
  @apply border-none hidden appearance-none h-0 w-0;
}

.slider::-moz-focus-outer {
  @apply border-none;
}


.media-btn:focus {
  @apply outline-none;
}

@tailwind utilities;
